:root {
    --cube-width: 100px;
}

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    width: calc(var(--cube-width) * 3);
    height: calc(var(--cube-width) * 3);
    perspective: 1000px;
}

section {
    width: calc(var(--cube-width) * 3);
    height: calc(var(--cube-width) * 3);
    position: relative;
    transform: rotateY(-30deg) rotateX(20deg);
    transform-style: preserve-3d;
    /* animation: kubusDraai 15s infinite; */
    place-items: center;
    transform-origin: center;

}
  
ul {
    width: calc(var(--cube-width));
    height: calc(var(--cube-width));
    position: absolute;
    transform-style: preserve-3d;
    list-style-type: none;
    /* z-index: calc(28 - var(--index)); */
}
  
li {
    position: absolute;
    border: 2px solid #000;
    width: calc(var(--cube-width));
    height: calc(var(--cube-width));
    opacity: 1;
    border-radius: .4em;
}

li:nth-child(1) {
    background-color: red;
    transform: rotateY(0deg) translateZ(calc(var(--cube-width) / 2));
}

li:nth-child(2) {
    background: green;
    transform: rotateY(90deg) translateZ(calc(var(--cube-width) / 2));
}

li:nth-child(3) {
    background: blue;
    transform: rotateY(180deg) translateZ(calc(var(--cube-width) / 2));
}

li:nth-child(4) {
    background: yellow;
    transform: rotateY(-90deg) translateZ(calc(var(--cube-width) / 2));
}

li:nth-child(5) {
    background: orange;
    transform: rotateX(90deg) translateZ(calc(var(--cube-width) / 2));
}

li:nth-child(6) {
    background: white;
    transform: rotateX(-90deg) translateZ(calc(var(--cube-width) / 2));
}

ul:first-child {
    --index: 1;
}

ul:nth-child(2) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) - 1 * var(--cube-width)));
    --index: 2;
}

ul:nth-child(3) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) - 1 * var(--cube-width)));
    --index: 3;
}

ul:nth-child(4) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) - 0 * var(--cube-width)));
    --index: 4;
}

ul:nth-child(5) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) - 0 * var(--cube-width)));
    --index: 5;
}

ul:nth-child(6) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) - 0 * var(--cube-width)));
    --index: 6;
}

ul:nth-child(7) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) + 1 * var(--cube-width)));
    --index: 7;
}

ul:nth-child(8) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) + 1 * var(--cube-width)));
    --index: 8;
}

ul:nth-child(9) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) + 1 * var(--cube-width)));
    --index: 9;
}

ul:nth-child(10) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) - 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 10;
}

ul:nth-child(11) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) - 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 11;
}

ul:nth-child(12) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) - 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 12;
}

ul:nth-child(13) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) - 0 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 13;
}

ul:nth-child(14) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) - 0 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 14;
}

ul:nth-child(15) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) - 0 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 15;
}

ul:nth-child(16) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) + 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 16;
}

ul:nth-child(17) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) + 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 17;
}

ul:nth-child(18) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) + 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 2 * var(--cube-width)));
    --index: 18;
}

ul:nth-child(19) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) - 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 19;
}

ul:nth-child(20) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) - 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 20;
}

ul:nth-child(21) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) - 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 21;
}

ul:nth-child(22) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) - 0 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 22;
}

ul:nth-child(23) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) - 0 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 23;
}

ul:nth-child(24) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) - 0 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 24;
}

ul:nth-child(25) {
    transform: translate(calc(var(--cube-width) * 0), calc(var(--cube-width) + 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 25;
}

ul:nth-child(26) {
    transform: translate(calc(var(--cube-width) * 1), calc(var(--cube-width) + 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 26;
}

ul:nth-child(27) {
    transform: translate(calc(var(--cube-width) * 2), calc(var(--cube-width) + 1 * var(--cube-width))) translateZ(calc(var(--cube-width) - 3 * var(--cube-width)));
    --index: 27;
} 



@keyframes kubusDraai {
    from {
        transform: rotate(0deg) rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotate(360deg) rotateX(360deg) rotateY(360deg);
    }
}

main:hover ul:nth-of-type(3) {
    /* transform:rotatex(0turn) rotatey(0) rotatez(-.5turn) translate3d(var(--maat), calc(var(--maat) * -1), var(--maat)); */
    transition: 1s;
}