:root {
    --cube-width: 10vmin;
}

*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    display: grid;
    place-items: center;
    height: 100vh;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #555;
}

main {
    width: calc(var(--cube-width) * 3);
    height: calc(var(--cube-width) * 3);
    perspective: 2000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
}

section {
    width: calc(var(--cube-width) * 3);
    height: calc(var(--cube-width) * 3);
    position: relative;
    transform-style: preserve-3d;
    place-items: center;
    transform: rotateX(-15deg) rotateY(-30deg);
    transition: .5s;
}
  
ul {
    width: calc(var(--cube-width));
    height: calc(var(--cube-width));
    position: absolute;
    transform-style: preserve-3d;
    list-style-type: none;
    transition: .5s;
}
  
li {
    position: absolute;
    background-color: #000;
    border: 2px solid #000;
    width: calc(var(--cube-width));
    height: calc(var(--cube-width));
    opacity: 1;
    border-radius: .4em;
}
